* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 58px;
}

/*Utils*/
h2 {
    font-size: 1rem;
}

li {
    text-decoration: none;
    list-style: none;
    display: inline;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
    display: block;
}

/*header*/
header {
    background-color: rgb(255, 105, 0);
    padding: 10px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;

}

.container {
    max-width: 1280px;
    margin: 0 auto;



}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;


}


.logo {
    width: 150px;
}

/*main*/
.row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}

.col {
    flex-basis: calc(195% / 6);
    position: relative;
    padding: 45px 0px;
}

.discount {
    background-color: red;
    padding: 5px;
    position: absolute;
    left: 0;
    bottom: 20px;
    color: white;
    z-index: 1;
}

.eco {
    background-color: green;
    padding: 5px;
    position: absolute;
    bottom: 20px;
    left: 50px;
    color: white;
    z-index: 1;
}

.eco-sx {
    background-color: green;
    padding: 5px;
    position: absolute;
    bottom: 20px;
    left: 0px;
    color: white;
    z-index: 1;

}

.heart {
    background-color: white;
    color: black;
    padding: 10px;
    position: absolute;
    top: 5px;
    right: 0px;
    z-index: 1;
}

.heart:hover {
    color: red;
}

.replace {
    position: absolute;
    display: none;
    top: 0px;

}

.card:hover .replace {
    display: inline-block;

}

.brand {
    color: gray;
    display: block;
}

.red-number {
    color: red;
}

#cut-number {
    text-decoration: line-through;
    color: gray;
    display: inline;
}

.card {
    position: relative
}

.details {
    position: absolute;
    bottom: -10px;
    left: 0px;
}